@tailwind base;
@tailwind components;
@tailwind utilities;
section {
  scroll-margin-top: 80px;
}

textarea::-webkit-scrollbar {
  width: 8px; /* عرض الإسكيرول */
}

textarea::-webkit-scrollbar-track {
  background: transparent;
  margin: 4px;
}

textarea::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 4px;
  border: 2px solid #0f172a; 
}

textarea::-webkit-scrollbar-thumb:hover {
  background: #22d3ee;
}